@charset "utf-8";
@import "/css/fonts.css";
* {
    margin: 0;
    padding: 0;
    font-family: '빙그레','빙그레bold';
}

clearfix::before,
clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
}

input:focus {
    outline: none;
}


#wrap {
    width: 100%;
    margin: 0px auto;
}

.inner {
    width: 1440px;
    margin: 0 auto;
    background: linear-gradient(to left, rgb(255, 255, 128, 0.25) 50%, #fff 10%);
     box-shadow: 4px 4px 4px 4px lightgray;
}

/* ----------------------------------------------- */

header {
    height: 90px;
    /* background-color: rgb(212, 212, 212); */
}

.logo {
    float: left;
    color: orangered;
    font-size: 40pt;
    margin: 10px 0px 0px 0px;

}

.mybox {
    float: left;
    color: gray;
    font-size: 18pt;
    margin: 40px 0px 0px 25px;

}

.user {
    float: right;
    padding-top: 30px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ------------------end of header----------------- */
.list_area{
	display: grid;
	place-items: center;
	margin: 15px;
	text-align: center;
}
.list_name{
	font-size: 30px;
	
	margin: 0 auto;
	font-weight: bold;
    width: 200px;
    height: 50px;
    background-color: #FFCD4A;
 	border-radius: 20px;
 	box-shadow: 1px 1px 1px 1px lightgray;
}



section {
    width: 100%;
    height: 800px;
    border-radius: 10px;
    border: 3px solid #FFCD4A;
    background: rgb(255, 255, 128, 0.25);
}

.sec_left {
    float: left;
    width: calc(100%/2.1);
    height: 100%;
    border-radius:10px;
}

/* 제목 입력 div */
.fortitle {
    text-align: center;
    padding-top: 35px;
}

/* 제목 입력 */
#title {
    width: 640px;
    height: 70px;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 10px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    color: rgb(68, 68, 68);
    margin-bottom: 20px;
}

/* 장소찾기 */
.locationbtn {
	float:right;
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #FFCD4A;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
    
}

/* 이미지 첨부 미리보기 div */
#image_preview{
    position: relative;
    width:100%;
    height:160px;
}

/* 카메라이미지 */
.cameraImg{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:170px;
    height:170px;
    margin-left: 40px;
    border:3px solid #FFCD4A;
    border-radius: 10px;
    cursor: pointer;
}

/* 첨부한 사진이 뜨는 곳 */
#att_zone {
    float:right;
    width: 500px;
    min-height: 150px;
    padding: 10px;
    /* border: 1px dotted #00f; */
    margin-right: 25px;
    margin-top:-35px;
}

/* 첨부한 사진 없이 비어있을때 */
#att_zone:empty:before {
    content: attr(data-placeholder);
    color: #999;
    font-size: .9em;
}

/* 커멘트 div */
#commentbox{
	margin-left:40px;
    height:350px;
}

/* 커멘트 */
.comment{
    width:500px;
    height:150px;
    margin:40px 0px 20px 0px;
    padding-top:10px;
    border: 3px solid #FFCD4A;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(68, 68, 68);
    resize: none;
    font-family: "Noto Sans KR", sans-serif;
}



.comment2{
	padding: 5px;
	font-weight: bold;
	width:500px;
	height:50px;
    margin-left:40px;
    border: 3px solid #FFCD4A;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(68, 68, 68);
    resize: none;
    background-color:white;
    font-family: "Noto Sans KR", sans-serif;
}




/* 스크롤바 막대 설정*/
.comment::-webkit-scrollbar{
    width: 10px;
    cursor: pointer;
}

.comment::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
.comment::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}

/* 추가버튼 div */
#addbtnbox{
    width:100%;
    height:70px;
}

/* 추가버튼*/
.addbtn{
	margin-top:40px;
    float:right;
    width:100px;
    height:50px;
    background-color:#FFCD4A;
    border: 0;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: white;
    cursor:pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
}

.addbtn2{
	margin-left:10px;
    float:right;
    width:100px;
    height:50px;
    background-color:#FFCD4A;
    border: 0;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: white;
    cursor:pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
}


.addbtn3{
	float:right;
    width:100px;
    height:50px;
    background-color: #FFCD4A;
    border: 0;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: white;
    cursor:pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
}

 .addbtn4{
 	float:right;
	margin:5px;
    width:70px;
    height:30px;
    background-color: #FFCD4A;
    border: 0;
    font-size:12px;
    font-weight: bold;
    cursor:pointer;
    color:white;
    border-radius:10px;
     box-shadow: 1px 1px 1px 1px lightgray;
}



/* ------------end of sec_left------------ */

.sec_right {
    float: left;
    width: calc(100%/2);
    height: 100%;
    border-radius: 10px;
    padding-left: 50px;

}



/* 
#places{
} */


/* ------------end of sec_right------------ */

.sec_bottom{
    margin-top: 30px;
    height:60px;
}

.cancelbtn{
    float:left;
    width:140px;
    height:50px;
    left:0;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor:pointer;
}

.savebtn{
    float:right;
    width:140px;
    height:50px;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor:pointer;
}

/* ------------------end of section----------------- */

footer {
    width: 100%;
    height: 300px;
    color: rgb(239, 239, 239);
    background-color: rgb(74, 74, 74);
    margin-top: 100px;
}

.foot1 {
    float: left;
    width: 40%;
    height: 100%;
    font-size: 14pt;
}

.foot1 h3 {
    color: orangered;
    font-size: 25pt;
    margin: 40px 0px 10px 50px;
}

.foot1 p {
    margin-left: 50px;
}

.foot2 {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 14pt;
}

.foot2 h3 {
    font-size: 25pt;
    margin: 40px 0px 10px 0px;
}

.foot2 p {
    margin-left: 0px;
}

/* ------------------end of footer----------------- */

#modal.modal-overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: rgba(255, 255, 255, 0.25);
			backdrop-filter: blur(1.5px);
			-webkit-backdrop-filter: blur(1.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			z-index: 1;
		}

		#modal .modal-window {
			background: #FFCD4A;
			box-shadow: 0 8px 32px 0 #FFCD4A;
			backdrop-filter: blur(13.5px);
			-webkit-backdrop-filter: blur(13.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			width: 1200px;
			height: 670px;
			position: relative;
			top: -100px;
			padding: 10px;
		}

		#modal .title {
			padding-left: 10px;
			display: inline;
			text-shadow: 1px 1px 2px gray;
			color: white;
		}

		#modal .title h2 {
			display: inline;
		}

		#modal .close-area {
			display: inline;
			float: right;
			padding-right: 10px;
			cursor: pointer;
			text-shadow: 1px 1px 2px gray;
			font-weight:bold;
			color: black;
		}

		#modal .content {
			margin-top: 20px;
			padding: 0px 10px;
			text-shadow: 1px 1px 2px gray;
			color: white;
		}

		#maparea {
			display: none;
		}