@charset "utf-8";
@import "/css/fonts.css";
* {
    margin: 0;
    padding: 0;
    font-family: '빙그레','빙그레bold';
}
.bg {
	width: 100vw;
			height: 92.5vh;
			background: url(/images/place/KakaoMap.png) center ; 
			background-size: cover;
}
clearfix::before,
clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
}

input:focus {
    outline: none;
}


#wrap {
    width: 100%;
    margin: 0px auto;
}

.inner {
    width: 1200px;
	height: auto;
    margin: 0 auto;
    background-color:white;
}

#wrapper {
			width: 1200px;
			margin: 0 auto;
		}

		.map_wrap,
		.map_wrap * {
			margin: 0;
			padding: 0;
			font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
			font-size: 12px;
		}

		.map_wrap a,
		.map_wrap a:hover,
		.map_wrap a:active {
			color: #000;
			text-decoration: none;
		}

		.map_wrap {
			position: relative;
			width: 1150px;
			height: 680px;
		}

		#menu_wrap {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 300px;
			height: 400px;
			margin: 10px 0 30px 10px;
			padding: 5px;
			overflow-y: auto;
			background: rgba(255, 255, 255, 0.7);
			z-index: 1;
			font-size: 12px;
			border-radius: 10px;
		}

		.bg_white {
			background: #fff;
		}

		#menu_wrap hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 2px solid #5F5F5F;
			margin: 3px 0;
		}

		#menu_wrap .option {
			text-align: center;
		}

		#menu_wrap .option p {
			margin: 10px 0;
		}

		#menu_wrap .option button {
			margin-left: 5px;
		}

		#placesList li {
			list-style: none;
		}

		#placesList .item {
			position: relative;
			border-bottom: 1px solid #888;
			overflow: hidden;
			cursor: pointer;
			min-height: 65px;
		}

		#placesList .item span {
			display: block;
			margin-top: 4px;
		}

		#placesList .item h5,
		#placesList .item .info {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		#placesList .item .info {
			padding: 10px 0 10px 55px;
		}

		#placesList .info .gray {
			color: #8a8a8a;
		}

		#placesList .info .jibun {
			padding-left: 26px;
			background:
				url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
		}

		#placesList .info .tel {
			color: #009900;
		}

		#placesList .info .placey {
			color: #009900;
		}

		#placesList .info .placex {
			color: #009900;
		}

		#placesList .item .markerbg {
			float: left;
			position: absolute;
			width: 36px;
			height: 37px;
			margin: 10px 0 0 10px;
			background:
				url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
		}

		#placesList .item .marker_1 {
			background-position: 0 -10px;
		}

		#placesList .item .marker_2 {
			background-position: 0 -56px;
		}

		#placesList .item .marker_3 {
			background-position: 0 -102px
		}

		#placesList .item .marker_4 {
			background-position: 0 -148px;
		}

		#placesList .item .marker_5 {
			background-position: 0 -194px;
		}

		#placesList .item .marker_6 {
			background-position: 0 -240px;
		}

		#placesList .item .marker_7 {
			background-position: 0 -286px;
		}

		#placesList .item .marker_8 {
			background-position: 0 -332px;
		}

		#placesList .item .marker_9 {
			background-position: 0 -378px;
		}

		#placesList .item .marker_10 {
			background-position: 0 -423px;
		}

		#placesList .item .marker_11 {
			background-position: 0 -470px;
		}

		#placesList .item .marker_12 {
			background-position: 0 -516px;
		}

		#placesList .item .marker_13 {
			background-position: 0 -562px;
		}

		#placesList .item .marker_14 {
			background-position: 0 -608px;
		}

		#placesList .item .marker_15 {
			background-position: 0 -654px;
		}

		#pagination {
			margin: 10px auto;
			text-align: center;
		}

		#pagination a {
			display: inline-block;
			margin-right: 10px;
		}

		#pagination .on {
			font-weight: bold;
			cursor: default;
			color: #777;
		}




/* ------------------end of header----------------- */
.list_area{
	display: grid;
	place-items: center;
	margin: 15px;
	text-align: center;
}
.list_name{
	font-size: 30px;
	
	margin: 0 auto;
	font-weight: bold;
    width: 200px;
    height: 50px;
    background-color: #FFCD4A;
 	border-radius: 20px;
 	box-shadow: 1px 1px 1px 1px lightgray;
}





.sec_left {
    float: left;
    width: calc(100%/2.1);
    height:100%;
    background: white;
    border-radius: 10px;
  
}

/* 제목 입력 div */
.fortitle {
    text-align: center;
    padding-top: 35px;
}

/* 제목 입력 */
#title {
    width: 640px;
    height: 70px;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 10px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    color: rgb(68, 68, 68);
    margin-bottom: 20px;
}

/* 장소찾기 */
.locationbtn {
	float:right;
    width: 100px;
    height: 50px;
    margin: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #FFCD4A;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
    
}

/* 이미지 첨부 미리보기 div */
#image_preview{
    position: relative;
    width:100%;
    height:160px;
}

/* 카메라이미지 */
.cameraImg{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:170px;
    height:170px;
    margin-left: 20px;
    border:3px solid #FFCD4A;
    border-radius: 10px;
    cursor: pointer;
}

/* 첨부한 사진이 뜨는 곳 */
#att_zone {
    float:right;
    width: 500px;
    min-height: 150px;
    padding: 10px;
    /* border: 1px dotted #00f; */
    margin-right: 25px;
    margin-top:-35px;
}

/* 첨부한 사진 없이 비어있을때 */
#att_zone:empty:before {
    content: attr(data-placeholder);
    color: #999;
    font-size: .9em;
}

/* 커멘트 div */
#commentbox{
	
    height:200px;
}

/* 커멘트 */
.comment{
    width:400px;
    height:150px;
    margin: 20px;

    border: 3px solid #FFCD4A;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(68, 68, 68);
    resize: none;
    font-family: "Noto Sans KR", sans-serif;
}



.comment2{
	padding: 5px;
	font-weight: bold;
	width:400px;
	height:50px;
	margin-top: 20px;
    margin-left:20px;
    margin-right: 0;
    margin-bottom: 0;
    border: 3px solid #FFCD4A;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(68, 68, 68);
    resize: none;
    background-color:white;
    font-family: "Noto Sans KR", sans-serif;
}




/* 스크롤바 막대 설정*/
.comment::-webkit-scrollbar{
    width: 10px;
    cursor: pointer;
}

.comment::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
.comment::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}

/* 추가버튼 div */
#addbtnbox{
    width:100%;
    height:70px;
}

/* 추가버튼*/
.addbtn{

    float:right;
    width:100px;
    height:50px;
   margin-top: 20px;
    margin-right: 20px;
    background-color:#FFCD4A;
    border: 0;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: white;
    cursor:pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
}

#addbtnbox {

	padding-right: 20px;
}
.addbtn2{
	margin-left:10px;
	
    float:right;
    width:100px;
    height:50px;
    background-color:#FFCD4A;
    border: 0;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: white;
    cursor:pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
}


.addbtn3{
	float:right;
    width:100px;
    height:50px;
    margin-right: 20px;
    background-color: #FFCD4A;
    border: 0;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: white;
    cursor:pointer;
     box-shadow: 1px 1px 1px 1px lightgray;
}

 .addbtn4{
 	float:right;
	margin:5px;
    width:70px;
    height:30px;
    background-color: #FFCD4A;
    border: 0;
    font-size:12px;
    font-weight: bold;
    cursor:pointer;
    color:white;
    border-radius:10px;
     box-shadow: 1px 1px 1px 1px lightgray;
}



/* ------------end of sec_left------------ */

.sec_right {
    float: left;
    width: 40%;
   height: auto;
    border-radius: 10px;
  margin-left: 40px;
    background:none;
    align-items: center;
    margin:0,auto;
    text-align: center;

}



/* 
#places{
} */


/* ------------end of sec_right------------ */

.sec_bottom{
    margin-top: 30px;
    height:60px;
}

.cancelbtn{
    float:left;
    width:140px;
    height:50px;
    left:0;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor:pointer;
}

.savebtn{
    float:right;
    width:140px;
    height:50px;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor:pointer;
}

/* ------------------end of section----------------- */

footer {
    width: 100%;
    height: 300px;
    color: rgb(239, 239, 239);
    background-color: rgb(74, 74, 74);
    margin-top: 100px;
}

.foot1 {
    float: left;
    width: 40%;
    height: 100%;
    font-size: 14pt;
}

.foot1 h3 {
    color: orangered;
    font-size: 25pt;
    margin: 40px 0px 10px 50px;
}

.foot1 p {
    margin-left: 50px;
}

.foot2 {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 14pt;
}

.foot2 h3 {
    font-size: 25pt;
    margin: 40px 0px 10px 0px;
}

.foot2 p {
    margin-left: 0px;
}

/* ------------------end of footer----------------- */

#modal.modal-overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: rgba(255, 255, 255, 0.25);
			backdrop-filter: blur(1.5px);
			-webkit-backdrop-filter: blur(1.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			z-index: 1;
		}

		#modal .modal-window {
			background: #FFCD4A;
			box-shadow: 0 8px 32px 0 #FFCD4A;
			backdrop-filter: blur(13.5px);
			-webkit-backdrop-filter: blur(13.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			width: 1200px;
			height: 670px;
			position: relative;
			top: -100px;
			padding: 10px;
		}

		#modal .title {
			padding-left: 10px;
			display: inline;
			text-shadow: 1px 1px 2px gray;
			color: white;
		}

		#modal .title h2 {
			display: inline;
		}

		#modal .close-area {
			display: inline;
			float: right;
			padding-right: 10px;
			cursor: pointer;
			text-shadow: 1px 1px 2px gray;
			font-weight:bold;
			color: black;
		}

		#modal .content {
			margin-top: 20px;
			padding: 0px 10px;
			text-shadow: 1px 1px 2px gray;
			color: white;
		}

		#maparea {
			display: none;
		}