	*{
		font-family: '빙그레 메로나체'

	}
	body {
		margin: 0;
		padding: 0;
	}
		.container{
			display: grid;
		 	place-items: center;
		 	height: 92.5vh;
		
		}
		.addTitle {
		    width:100px;
		    height:50px;
			background-color:  #FFCD4A;
		    border:3px solid #FFCD4A;
		    border-radius: 10px;
		    font-size:16px;
		    font-weight: bold;
		    color: rgb(0, 0, 0);
		    cursor:pointer;
    }
    
    .title{
    	font-size:30px;
    	text-align:center;
    	font-weight:bold;
    }
    #boardTitle{
    	width: 300px;
    	height: 50px;
    	font-size: 18px;
    	text-align: center;
    }
    .center{
    		display: grid;
		 	place-items: center;
		  	min-height: 20vh;
		  	width:350px; height:400px;  	
		  	box-shadow: 3px 3px 8px 3px gray; 
		  	border-radius: 10px;
		  	background-color:white;
		  	}
		  	#boardTitle {
			border: solid 2px  #FFCD4A;
			border-radius: 10px;
		}
		.bg {
			width: 100%;
			height: 100%;
			background: url(/images/place/KakaoMap.png) center ; 
			background-size: cover;
		}