@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

clearfix::before,
clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
}

#wrap {
    width: 100%;
    margin: 0px auto;
}

.inner {
    width: 1440px;
    margin: 0 auto;
}