header {
    height: 90px;
    /* background-color: rgb(212, 212, 212); */
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
    display: flex;
   	width: 100px;
   	padding-bottom: 10px

}

.user {
    display:flex;
  	font-size: 14px
}

.before_login {
	margin-top:20px;
	text-decoration: none;
}

.before_login a {
	color: black;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1;
}

.dropdown-content a,p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
