header {
    height: 90px;
    /* background-color: rgb(212, 212, 212); */
}

.logo {
    float: left;
    color: orangered;
   	width: 80px;
    font-size: 40pt;
    margin: 10px 0px 0px 0px;
}

.user {
    float: right;
    padding-top:50px;
}

.before_login {
	margin-top:20px;
	text-decoration: none;
}

.before_login a {
	color: black;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1;
}

.dropdown-content a,p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
