@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

clearfix::before,
clearfix::after {
  display: block;
  content: "";
  clear: both;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
}

input:focus {
  outline: none;
}

#wrap {
  width: 100%;
  margin: 0px auto;
}

.inner {
  width: 1440px;
  margin: 0 auto;
}


.div_table{
	display:table;
	border-collapse:collapse;
	width:400px;
	table-layout:fixed;
	}
	
.div_table_row{
	display:table-row;
	background-color: khaki;
	  display: block;
	  width: 300px;
	  height: 200px;
	}
	
.div_table_cell{
	display:table-cell; 
	}
	
	
#contents {
    float: right;
    width: 1400px;
    height: 750px;

}


#placeimg {
    float: left;
    width: 350px;
    height: 250px;
    background-color: khaki;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.title{
	text-align:center;
	font-weight:bold;
	font-size:25px;
	display: inline-block;
}

.titlearea{
	display: grid;
	place-items: center;
	word-break:break-all;
	width:330px;
	height:150px;
	padding:10px;
}
.info{
	width:330px;
	height:50px;
	padding:10px;
	font-size:20px;
}
.mbtiarea{
	display: grid;
	place-items: center;
	margin: 15px;
}
.mbti{
	font-size: 30px;
	text-align:center;
	font-weight: bold;
    width: 200px;
    height: 50px;
    background-color: lightpink;
    border-radius: 20px;
}
.pagearea{
	width: 1500px;
	float: right;
	display: grid;
	place-items: center;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0;
	right:0;
	height: 100px;
}
.post{
	position: fixed;
	float:right;
	display:grid;
	width:100px;
	right:30px;
	bottom:30px;
}

.btn{
	font-weight:bold;
    color: white;
    border: none;
    cursor: pointer;
    background-color: lightpink;
    width:100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    border-radius: 50px;
}
.btn:hover{
	color:lightblue;
}