@charset "utf-8";

* {
    margin: 0;
    padding: 0;
     font-family: '빙그레 메로나체';
}

clearfix::before,
clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
}

#wrap {
    width: 100%;
    margin: 0px auto;
}

.inner {
    width: 1440px;
    margin: 0 auto;
}

/* ----------------------------------------------- */

header {
    height: 90px;
    /* background-color: rgb(212, 212, 212); */
}

.logo {
    float: left;
    color: orangered;
    font-size: 40pt;
    margin: 10px 0px 0px 0px;
}

.user {
    width: 300px;
    float: right;
    margin-top: 60px;
    color: black;
}



/* ------------------end of header----------------- */

.banner {
    width: 100%;
    height: 420px;
}

.banner div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner img {
    border-radius: 20px;
}


/* ------------------end of section(banner)----------------- */

.mbti {
    height: 350px;
    position: relative;
    padding-top: 20px;
}

.mbti .prev_arrow {
    position: absolute;
    top: 150px;
    left: 0;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.mbti .next_arrow {
    position: absolute;
    top: 150px;
    right: 0;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

.mbti .items {
    width: 100px;
    height: 200px;
    margin: 50px 0;
}

.mbti .items img {
    width: 200px;
    height: 200px;
    transition: all linear .4s;
    margin: 0 auto;
    cursor: pointer;
}

.mbti .slick-center img {
    transform: scale(1.2);
}


/* ------------------end of section(mbti)----------------- */


.cards {
    height: 320px;
    padding-top: 40px;
    margin-bottom: 150px;
    text-align: center;
    background-color: rgb(222, 222, 222);
    border-radius: 20px;
}

.cards img {
    border-radius: 20px;
    cursor: pointer;
}

.cards img:hover {
    opacity: 0.7;
    transition: 0.2s ease-in-out;

}


/* ------------------end of section(cardSection)----------------- */

footer {
    width: 100%;
    height: 300px;
    color: rgb(239, 239, 239);
    background-color: rgb(74, 74, 74);
}

.foot1 {
    float: left;
    width: 40%;
    height: 100%;
    font-size: 14pt;
}

.foot1 h3 {
    color: orangered;
    font-size: 25pt;
    margin: 40px 0px 10px 50px;
}

.foot1 p {
    margin-left: 50px;
}


.foot2 {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 14pt;
}


.foot2 h3 {
    font-size: 25pt;
    margin: 40px 0px 10px 0px;

}

.foot2 p {
    margin-left: 0px;
}

/* ------------------end of footer----------------- */

#plusButton {
    position: fixed;
    right: 2%;
    bottom: 30px;
    display: block;
    z-index: 999;
    cursor: pointer;
}