@charset "utf-8";

.div_table{
	display:table;
	border-collapse:collapse;
	table-layout:fixed;
	}
	
.div_table_row{
	display:table-row;
	background-color: khaki;
	  display: block;
	}
	
.div_table_cell{
	display:table-cell; 
	}
	
	
#contents {
    float: right;
    width: 1400px;
    height: 750px;

}


#placeimg {
    float: left;
    width: calc(90% / 3);
    height: 300px;
    background-color: khaki;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
}

.title{
	text-align:center;
	font-weight:bold;
	font-size:25px;
	display: inline-block;
}

.titlearea{
	display: grid;
	place-items: center;
	word-break:break-all;
	width:330px;
	height:150px;
	padding:10px;
}
.info{
	width:330px;
	height:50px;
	padding:10px;
	font-size:20px;
}
.mbtiarea{
	display: grid;
	place-items: center;
	margin: 15px;
}
.mbti{
	font-size: 30px;
	text-align:center;
	font-weight: bold;
    width: 200px;
    height: 50px;
    background-color: lightpink;
    border-radius: 10px;
}
.pagearea{
	width: 1500px;
	display: grid;
	place-items: center;
	text-align: center;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0;
}
.post{
	position: fixed;
	float:right;
	display:grid;
	width:100px;
	right:30px;
	bottom:30px;
}

.btn{
	font-weight:bold;
    color: white;
    border: none;
    cursor: pointer;
    background-color: lightpink;
    width:100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    border-radius: 50px;
}
.btn:hover{
	color:lightblue;
}