@charset "utf-8";
@import "/css/fonts.css";
* {
    
    font-family: '빙그레','빙그레bold';
}
.div_table{
	display:table;
	border-collapse:collapse;
	width:400px;
	table-layout:fixed;
	}
	
.div_table_row{
	display:table-row;
	border : solid 2px #FFCD4A;
	  display: block;
	  width: 300px;
	  height: 200px;
	  box-shadow: 2px 2px 2px  2px  lightgray;
	  background: linear-gradient(to top, #fff 80%, #FFCD4A 20%);
	}


	
.div_table_cell{
	display:table-cell; 
	}
	
	
#contents {
    float: right;
    width: 1250px;
    height: 750px;

}


#placeimg {
    float: left;
    width: 330px;
    height: 250px;

    opacity:0.8;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.title{
	text-align:center;
	font-weight:bold;
	font-size:25px;
	display: inline-block;
}

.titlearea{
	display: grid;
	place-items: center;
	word-break:break-all;
	width:330px;
	height:150px;
	padding:10px;
}
.info{
	width:330px;
	height:50px;
	padding:10px;
	font-size:20px;
}
.list_area{
	display: grid;
	place-items: center;
	margin: 15px;
}
.list_name{
	font-size: 30px;
	text-align:center;
	margin: 0 auto;
	font-weight: bold;
    width: 200px;
    height: 50px;
    background-color: #FFCD4A;
 	border-radius: 20px;
 	box-shadow: 1px 1px 1px 1px lightgray;
}

.list_name span {
	color: white
}
.pagearea{
	width: 1500px;
	display: grid;
	place-items: center;
	text-align: center;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0;
}
.post{
	position: fixed;
	float:right;
	display:grid;
	width:100px;
	right:30px;
	bottom:30px;
}

.btn{
	font-weight:bold;
    color: white;
    border: none;
    cursor: pointer;
    background-color: lightpink;
    width:100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    border-radius: 50px;
}
.btn:hover{
	color:lightblue;
}