<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>*</title>
</head>
<body>
<div>
    <table>
        <tr>
        	<th>댓글 번호</th>
            <th>댓글</th>
        </tr>
        
        <tbody>
        <tr th:each="comment : ${comments}">
           
            <td>
               <textarea>${comment.replyContent}</textarea> 
            </td>
             <td>
            <td><a href="/comment" th:href="@{'comment/delete/' + ${comment.replyNum}}">삭제</a></td>
            <button id="btn">수정</button>
        <!--<span hidden id="boardNum" th:boardNum="${place.board.boardNum}"></span>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>