<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>*</title>
</head>
<body>
<div>
    <table>

        <tbody id="divReloadLayer">
        <tr th:each="comment : ${comments}">
           <td>
                <span th:text="${comment.replyContent}"></span>
                <span hidden id="replyNum" th:text="${comment.replyNum}"></span>
            </td>
             <td>
             <span hidden id="boardNum" th:boardNum="${boardNum}"></span>
            <input type="button" th:data-del="${comment.replyNum}" class="deleteComment" value="❌"><br>
     
        
            </td>
        </tr>
      
        </tbody>
    </table>
</div>
   <script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript"> 
$(document).ready(function() {
   $("input:button.deleteComment").on('click',deleteComment);
   
});
function deleteComment(){
 

      let boardNum = document.getElementById("boardNum").value;

    let replyNum = $(this).attr("data-del");   
    
     var sendData = {"replyNum": replyNum, "boardNum": boardNum};
  
     $.ajax({
        method: 'Delete',
        url : '/deleteComment/'+replyNum,
        data : sendData,
        success: function(data){
   
           $('#resDiv').html(data)
     

        }

    });
   
}

</script>
</body>
</html>