<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5168478d86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/slick.css">
    <link rel="stylesheet" href="./css/board.css">
    <title>board</title>

</head>

<body>
    <div id="wrap">
        <header class="inner">
            <a href="#">
                <h2 class="logo">MOMO</h2>
            </a>
            <h4 class="mybox">MY BOX</h4>


            <div class="user">
                <div class="dropdown">
                    <button class="dropbtn"><img src="./images/membericon.png" alt="membericon"></button>
                    <div class="dropdown-content">
                        <a href="#">마이페이지</a>
                        <a href="#">회원정보수정</a>
                        <a href="#">내글 / 내북마크</a>
                        <a href="#">로그아웃</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- ------------------end of header------------------->

        <section class="inner">
            <div class="sec_left">
                <div class="fortitle">
                    <input type="text" name="return" id="title" placeholder="제목을 입력하세요" maxlength="20">
                </div>

                <div>
                    <button type="button" class="locationbtn">장소 찾기</button>
                </div>



                <div id='image_preview'>
                    <span class="cameraImg">
                        <img src='./images/camera-4-70.png' class='profileImg' id='profileImg'>
                    </span>
                    <input type='file' id='btnAtt' multiple='multiple' style="visibility:hidden;" />
                    <div id='att_zone'></div>
                </div>

                <div id="commentbox">
                    <textarea class="comment" ></textarea>
                </div>

                <div id="addbtnbox">
                    <button type="button" class="addbtn">추가</button>
                </div>

                <div id="cancelbtnbox">
                    <button type="button" class="cancelbtn">취소</button>
                </div>



            </div>


            <div class="sec_right">
                <!-- <div></div>
                <div></div>
                <div></div> -->
            </div>

        </section>

        <!--------------------end of section------------------->

        <footer>
            <div class="foot1">
                <h3>MOMO</h3>
                <p>
                    ㈜ MOMO : 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)<br>
                    대표이사 : 박성태<br>
                    사업자등록번호 : 104-81-53114<br>
                    통신판매신고번호 : 제2016-서울강남-00515호<br>
                    개인정보관리 최고책임자 : 임영관 이사<br>
                    Copyright by MOMO Co., Ltd. All rights reserved.
                </p>

            </div>
            <div class="foot2">
                <h3>고객센터</h3>

                <p>
                    1544-9001<br>
                    평일 08:00~20:00<br>
                    휴일 09:00~18:00 (점심시간 12:00~13:00 제외)
                </p>
            </div>
        </footer>
    </div>

    <!--------------------end of footer------------------->

    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/board.js"></script>

</body>

</html>