<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/slick.css">
    <link rel="stylesheet" href="./css/main.css">

</head>

<body>
    <div id="wrap">
        <header class="inner">
            <a href="#">
                <h2 class="logo">MOMO</h2>
            </a>
            <a href="#" class="membericon"><img src="./images/membericon.png" alt="membericon"></a>
        </header>

        <section class="slide">
            <div>
                <a href="#"><img src="./images/banner2.png" alt="slide1"></a>

            </div>
        </section>



        <section class="mbti inner center">
            <div class="items">
                <a href="#"><img src="./images/circle-256-blue.png" alt="esfj"></a>
            </div>
            <div class="items">
                <a href="#"><img src="./images/circle-256-yellow.png" alt="enfj"></a>
            </div>
            <div class="items">
                <a href="#"><img src="./images/circle-256-purple.png" alt="esfp"></a>
            </div>
            <div class="items">
                <a href="#"><img src="./images/circle-256-green.png" alt="esfp"></a>
            </div>

        </section>

        <section class="cards inner">

            <a class="card1"><img src="./images/card1.png" alt=""></a>
            <a class="card2"><img src="./images/card2.png" alt=""></a>
            <a class="card3"><img src="./images/card3.png" alt=""></a>

        </section>

        <footer>
            <div class="foot1">공지사항</div>
            <div class="foot2">고객센터</div>
        </footer>
        <div id="plusButton">
            <a href="#"><img src="./images/plus-7-80.png" id="plusButtonImg"></a>
        </div>
    </div>

    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/custom.js"></script>
</body>

</html>