<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5168478d86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/slick.css">
    <link rel="stylesheet" href="./css/main(after login).css">
    <title>main(before login)</title>

</head>

<body>
    <div id="wrap">
        <header class="inner">
            <a href="#">
                <h2 class="logo">MOMO</h2>
            </a>
            <span class="user">
                <a class="login" href="#">로그인</a>
                <a class="signup" href="#">회원가입</a>
            </span>

        </header>

        <!-- ------------------end of header------------------->

        <section class="banner">
            <div>
                <a href="#"><img src="./images/banner2.png" alt="bannerImg1"></a>

            </div>
        </section>

        <!-- ------------------end of section(banner)------------------->

        <section class="mbti inner center">

            <div class="items">
                <img src="./images/circle-256-blue.png" alt="mbti">
            </div>
            <div class="items">
                <img src="./images/circle-256-yellow.png" alt="mbti">
            </div>
            <div class="items">
                <img src="./images/circle-256-purple.png" alt="mbti">
            </div>
            <div class="items">
                <img src="./images/circle-256-green.png" alt="mbti">
            </div>
        </section>

        <!--------------------end of section(mbti)------------------->

        <section class="cards inner">

            <a class="card1"><img src="./images/card1.png" alt=""></a>
            <a class="card2"><img src="./images/card2.png" alt=""></a>
            <a class="card3"><img src="./images/card3.png" alt=""></a>

        </section>

        <!--------------------end of section(cardSection)------------------->

        <footer>
            <div class="foot1">
                <h3>MOMO</h3>
                <p>
                    ㈜ MOMO : 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)<br>
                    대표이사 : 박성태<br>
                    사업자등록번호 : 104-81-53114<br>
                    통신판매신고번호 : 제2016-서울강남-00515호<br>
                    개인정보관리 최고책임자 : 임영관 이사<br>
                    Copyright by MOMO Co., Ltd. All rights reserved.
                </p>

            </div>
            <div class="foot2">
                <h3>고객센터</h3>

                <p>
                    1544-9001<br>
                    평일 08:00~20:00<br>
                    휴일 09:00~18:00 (점심시간 12:00~13:00 제외)
                </p>
            </div>
        </footer>
    </div>


    <!--------------------end of footer------------------->

    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>