<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5168478d86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/slick.css">
    <link rel="stylesheet" href="./css/saved places.css">

</head>

<body>
    <div id="wrap">
        <header class="inner">
            <a href="#">
                <h2 class="logo">MOMO</h2>
            </a>

            <h4 class="mybox">MY BOX</h4>


            <div class="user">
                <div class="dropdown">
                    <button class="dropbtn"><img src="./images/membericon.png" alt="membericon"></button>
                    <div class="dropdown-content">
                        <a href="#">마이페이지</a>
                        <a href="#">회원정보수정</a>
                        <a href="#">내글 / 내북마크</a>
                        <a href="#">로그아웃</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- ------------------end of header------------------->
        <div class="all inner">

            <aside>
                <div class="button_1">저장한 글</div>
                <div class="button_2">저장한 장소</div>
            </aside>

            <!--------------------end of aside------------------->

            <section class="contents">
                <div class="content1">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <div class="content2">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <div class="content3">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>



            </section>

        </div>
        <!--------------------end of section------------------->

        <footer>
            <div class="foot1">공지사항</div>
            <div class="foot2">고객센터</div>
        </footer>
    </div>

    <!--------------------end of footer------------------->

    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>