<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>*</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>번호</th>
            <th>장소명</th>
            <th>코멘트</th>
        </tr>
        
        <tbody>
        <tr th:each="place : ${places}">
            <th>
                <span th:text="${place.placeNum}"></span>
            </th>
            <td>
                <span th:text="${place.placeTitle}"></span>
            </td>
            <td>
                <span th:text="${place.placeContent}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>