<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>*</title>
</head>
<body id="body">
<div>
    <table>
        <tr>
            <th>장소명</th>
            <th>코멘트</th>
        </tr>
        
        <tbody>
        <tr th:each="place : ${places}">
            <td>
                <span th:text="${place.placeTitle}"></span>
            </td>
            <td>
                <span th:text="${place.placeContent}"></span>
            </td>
            <td>
            <!--  
            <form id="form" th:action="@{'/deletePlace/'+${place.placeNum}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">삭제</button>
            </form>
            -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>