<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5168478d86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/addplace.css">
	<title>PlaceList</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style>
		.deletePlace {
		    width:70px;
		    height:40px;
		    margin:5px;
		    background-color:#FFCD4A;
		    border:0;
		    border-radius: 10px;
		    font-size:18px;
		    font-weight: bold;
		    color: white;
		    cursor:pointer;
    }
    
    table tbody td {
		  border-top: 1rem solid;
		  border-bottom: 1rem solid;
		  border-color: transparent;
}
	</style>
</head>
<body>
<div style="height:700px; overflow:auto; margin-left:30px;">
    <table style="margin:auto; margin-top:50px;">
        <tr>
            <th style="font-size:25px; width:200px;">장소명</th>
            <th style="font-size:25px; width:400px; text-align:center;">코멘트</th>
        </tr>
        
        <tbody>
        <tr th:each="place : ${places}">
            <td style="font-weight:bold; word-break:break-all; font-size:20px">
                <span th:text="${place.placeTitle}"></span>
            </td>
            <td style="text-align:center; word-break:break-all; font-size:17px;">
                <span th:text="${place.placeContent}"></span>
            </td>
            <td>
            <span hidden id="boardNum" th:boardNum="${place.board.boardNum}"></span>
            <input type="button" class="deletePlace" th:data-del="${place.placeNum}"
             value="삭제">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function() {
	$("input:button.deletePlace").on('click',deletePlace);
	
});

function deletePlace(){
	let boardNum = document.getElementById("boardNum").value;
    let placeNum = $(this).attr("data-del");
    var sendData = {"boardNum": boardNum};
    $.ajax({
        method: 'DELETE',
        url : '/deletePlace/'+placeNum,
        data : sendData,
        success: function(data){
        	$('#resDiv').html(data)
        }
    });

}
</script>
</body>
</html>