<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments :: flg_head"></th:block>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5168478d86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/board.css">
	<title>MOMO: 글쓰기</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/css/board_post.css">
</head>
<body>
<th:block  th:replace="fragments :: flg_header"></th:block>
<div class="bg">
<div class="container">

    <form  name="form" th:action="@{/post}" method="post" class="item">
        <div class="center">
            <div class="title">제목</div>
            <div>
                <input type="text" name="boardTitle" id="boardTitle"><span></span>
            </div>
            <input class="addTitle" type="submit" role="button" value="장소 추가">
        </div>
        <input hidden name="memEmail" th:value="${#authentication.name}">
    </form>
  
</div>
</div>
</body>
</html>