<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<title>MOMO-게시판</title>
	<link rel="stylesheet" href="/css/detail.css">
</head>

<body style="margin: 0; padding: 0;  ">
	<div id="nav" style="display: flex; justify-content: space-between; margin: 15px;">
		<div>
			<span style="color: rgb(94, 113, 161);">작성자: </span><span style="color: rgb(94, 113, 161);"
				th:text="@{${board.member.memNickname}}"></span>
		</div>
		<div style="display: flex; justify-content: space-evenly;">
			<div>
				<a th:href="@{'/post/edit/' + ${board.boardNum}}" role="button"><button>수정</button></a>
			</div>
			<div>
				<form th:action="@{'/post/' + ${board.boardNum}}" method="post">
					<input type="hidden" name="_method" value="delete" />
					<button type="submit">삭제</button>
				</form>
			</div>
			<div id="bookmark-buttons">
				<button th:if="${boardBookmarkCheck} == true" id="btn-bookmark" type="button">저장</button>
				<button th:unless="${boardBookmarkCheck} == true" id="btn-unbookmark" type="button">저장취소</button>
			</div>
			<a th:href="@{/board}" role="button"><button>목록</button></a>
		</div>
	</div>
	<div class="container" style="display: flex; justify-content: space-around;">



		<div style="margin: 0; padding: 0;" class="item1">
			<div class=" hAddr">
				<ul style="padding: 0;" id="placesList"></ul>
			</div>
		</div>
		<div class="item2" id="map" style="width: 650px; height: 400px; justify-content: center; text-align: 
		center; padding: 0; display: inline-block;"></div>

		<div>

			<div class="item3 list-color2  " th:each="place : ${places}">
				<div class="item3-place" style="margin-left: 8px;">
					<a hidden th:name="@{${place.placeNum}}"></a>
					<h2 th:text="${place.placeTitle}"></h2><br>
					<img style="width: 150px; height: 150px; cursor: pointer;" th:src="@{${place.placeImg}}"
						onerror="this.style.display='none'" alt=''><br>
					<span th:text="${place.placeContent}"></span><br>
					<a class="topBtn" href="#top">지도로 이동 >>></a><br>
				</div>
			</div>
		</div>
	</div>
	<!-- div con -->


	<input hidden name="memEmail" th:value="${#authentication.name}">

	<hr>
	<div style="text-align: center;">
		<form method="post" action="/place/reply?cmd=save">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />


			<div class="">
				<textarea placeholder="댓글을 입력해주세요" name="replyContent" id="replyContent"
					style="width: 1000px; height: 30px; resize: none;"></textarea>
				<input hidden type="number" id="boardNum" name="boardNum" th:value="${boardNum}">

			</div>

		</form>

		<button id="btnSave">저장</button>
		<h3 style="margin: 0; margin-top: 10px;">댓글목록</h3>

		<div class=".list123" id="resDiv" style="margin-top: 5px; text-align: center;"></div>

	</div>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a7b5481a65eecc18bd2cc1106898f604&libraries=services"></script>
	<script th:inline="javascript">

		var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
			mapOption = {
				center: new kakao.maps.LatLng(37.5546, 126.9706), // 지도의 중심좌표
				level: 5 // 지도의 확대 레벨
			};

		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
		var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

		var places = [];

		/*<![CDATA[*/

		/*[# th:each="place : ${places}"]*/
		var title = [[${ place.placeTitle }]];
		var lat = [[${ place.placeLat }]];
		var lng = [[${ place.placeLng }]];
		var content = [[${ place.placeContent }]];
		var id = [[${ place.placeId }]];
		var placeImg = [[${ place.placeImg }]];
		var placeNum = [[${ place.placeNum }]];


		places.push({ title: title, latlng: new kakao.maps.LatLng(lat, lng), content: content, id: id, placeImg: placeImg, placeNum: placeNum });

		/*[/]*/

		/*]]>*/


		// 마커 이미지의 이미지 주소입니다
		var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

		function setCenter() {
			// 이동할 위도 경도 위치를 생성합니다 
			var moveLatLon = places[0].latlng;
			map.setLevel(8);
			// 지도 중심을 이동 시킵니다
			map.setCenter(moveLatLon);
		}


		function displayInfowindow(marker, title) {
			var content = '<div style=" font-weight: 800; text-align:center; color:#4D77D7; width:200px;text-align:center;padding:6px 0">' + title + '</div>';

			infowindow.setContent(content);
			infowindow.open(map, marker);
		}

		setCenter();

		for (var i = 0; i < places.length; i++) {

			// 마커 이미지의 이미지 크기 입니다
			var imageSize = new kakao.maps.Size(24, 35);

			// 마커 이미지를 생성합니다    
			var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
				map: map, // 마커를 표시할 지도
				position: places[i].latlng, // 마커를 표시할 위치
				title: places[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
				image: markerImage // 마커 이미지 
			});


			(function (marker, title, pid) {
				kakao.maps.event.addListener(marker, 'mouseover', function () {
					displayInfowindow(marker, title);

				});

				kakao.maps.event.addListener(marker, 'click', function () {
					var position = this.getPosition();

					var url = 'https://map.kakao.com/link/map/' + pid;
					window.open(url, '_blank');
				});
				kakao.maps.event.addListener(marker, 'mouseout', function () {
					infowindow.close();
				});
			})(marker, places[i].title, places[i].id);

			var infoDiv = document.getElementById('placesList');
			infoDiv.innerHTML = infoDiv.innerHTML + '<div class="list-color"><h1 class="contt"><a class="a-tag" href="#' + places[i].placeNum + '">' + places[i].title + '</a></h1></div>';
		}


		//이미지 자세히 보기
		var img = document.getElementsByTagName("img");
		for (var x = 0; x < img.length; x++) {
			img.item(x).onclick = function () { window.open(this.src); };
		}


		//댓글저장
		$('#btnSave').click(function () {


			let boardNum = document.getElementById("boardNum").value;
			var tempData = {

				"boardNum": $('input[name="boardNum"]').val(),
				"replyContent": $('#replyContent').val(),
				"memEmail": $('input[name="memEmail"]').val()


			};
			console.log(tempData);
			var reply = $('#replyContent').val();
			if (reply != "") {
				$.ajax({
					url: "/commentList/" + boardNum,
					type: "POST",
					async: true,
					contentType: "application/json; charset=UTF-8",
					data: JSON.stringify(tempData),
					success: function (data) {

						$('#replyContent').val();
						$('#resDiv').html(data);
						$('textarea[name="replyContent"]').val("");
					},
					error: function () { alert("에러 발생"); }


				});
			}
		});
		$(document).on("click", "#deleteComment", function () {


			let item = $(this);
			let replyNum = item.attr("data-replyNum");
			//let replyNum = document.getElementById("replyNum").value;
			$.ajax({
				method: 'Delete',
				url: '/deleteComment/' + replyNum,
				async: false,
				contentType: "application/json; charset=UTF-8",
				data: { "replyNum": replyNum },
				success: function (data) {

					$('#resDiv').html(data);
					window.alert("삭제가 완료가 확인 되었습니다.");
					document.location.reload(true);


				},
				error: function (data) {
					console.dir(data);

				}
			});

		});
		//새로고침 유지
		$(document).ready(function () {


			let boardNum = document.getElementById("boardNum").value;
			var tempData = {

				"boardNum": $('input[name="boardNum"]').val(),

			};
			console.log(tempData);
			var reply = $('#replyContent').val();

			$.ajax({
				url: "/commentList02/" + boardNum,
				type: "POST",
				async: true,
				contentType: "application/json; charset=UTF-8",
				data: JSON.stringify(tempData),
				success: function (data) {

					$('#replyContent').val();
					$('#resDiv').html(data);

				}

			});

		});
		//게시글 북마크
		$('#btn-bookmark').click(function () {
			let boardNum = document.getElementById("boardNum").value;
			let sendData = { "boardNum": boardNum };
			$.ajax({
				method: 'POST',
				url: '/boardBookmark',
				data: sendData,
				success: function (data) {
					window.location.href = data;
				},
				error: function () {
					console.log('ajax 통신 실패');
				}
			});
		});

		//게시글 북마크 해제
		$('#btn-unbookmark').click(function () {
			let boardNum = document.getElementById("boardNum").value;
			let deleteData = { "boardNum": boardNum };
			$.ajax({
				method: 'POST',
				url: '/unBoardBookmark',
				data: deleteData,
				success: function (data) {
					window.location.href = data;
				},
				error: function () {
					console.log('ajax 통신 실패');
				}
			});
		});

	</script>
</body>

</html>