<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments :: flg_head"></th:block>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5168478d86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/board.css">
	<title>MOMO-게시판</title>
</head>
<body>
<div>
	<th:block th:replace="fragments :: flg_header"></th:block>
	<!--end of header-->
    <table>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>MBTI</th>
            <th>조회수</th>
        </tr>
        
        <tbody>
        <tr th:each="board : ${boards}">
            <th>
                <span th:text="${board.boardNum}"></span>
            </th>
            <td>
                <a th:href="@{'/post/' + ${board.boardNum}}">
                    <span th:text="${board.boardTitle}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.member.memNickname}"></span>
            </td>
            <td>
            	<span th:text="${board.member.memMbti}"></span>
            </td>
            <td>
            	<span th:text="${board.placeCnt}"></span>
            </td>
            
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments :: paging"></div>
    <div>
        <a th:href="@{/postBoard}" role="button">글쓰기</a>
    </div>
    
</div>
</body>
</html>