<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MOMO - 글쓰기</title>
</head>
<body>
<div>
    <form th:action="@{/post}" method="post">
        <div>
            <h5>제목</h5>
            <div>
                <input type="text" name="boardTitle" id="boardTitle">
            </div>
        </div>
        <div>
        <!--  
            <h5>작성자</h5>
            <div>
            	<input type="text" name="member.NickName" id="member.NickName">
               <input type="text" name="member.NickName" id="member.NickName" th:value="${member.NickName}">
            </div>
        </div>
        <div>
            <h5>MBTI</h5>
            <div>
           		<input type="text" name="member.Mbti" id="member.Mbti"></input>
            <input type="text" name="member.Mbti" id="member.Mbti" th:value="${member.Mbti}"></input>
            </div>
         -->
        </div>
        
        <div>
            <div>
                <input type="submit" role="button" value="장소추가하기">
            </div>
        </div>
    </form>
</div>
</body>
</html>