<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments :: flg_head"></th:block>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
		  src="https://kit.fontawesome.com/5168478d86.js"
		  crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/adminheader.css" />
		<link rel="stylesheet" href="/css/admin-list.css" />
		<link rel="stylesheet" href="/css/sidebar.css">
		<title>admin comment list</title>
	  </head>
<body>
	<div class="inner">
		<th:block th:replace="fragments :: flg_admin_header"></th:block>
  
		<div class="all inner">
		  <aside>
			  <div class="button_1" onclick="location.href='/admin/member/member-list'">회원관리</div>
			  <div class="button_2" onclick="location.href='/admin/board/board-list'">전체게시글관리</div>
			  <div class="button_3" onclick="location.href='/admin/comment/comment-list'">전체댓글관리</div>
		  </aside>
  
		  <!--------------------end of aside------------------->
  
		  <section class="contents">
			<div class="policy-container">
			  <div class="policy-table">
				<div class="headings">
				  <span class="heading">댓글 내용</span>
				  <span class="heading">닉네임</span>
				  <span class="heading">게시판제목</span>
				  <span class="heading">view</span>
				</div>
  
				<th:block th:each="comment : ${comments}" th:object="${comment}">
				  <div class="policy">
					<span th:text="*{replyContent}"></span>
					<span th:text="*{member.memNickname}"></span>
					<span th:text="*{board.boardTitle}"></span>
					<span><a th:href="@{/admin/comment/comment-detail/{id}(id = *{board.boardNum})}">view</a>
					</span>
				  </div>
				</th:block>
			  </div>
			</div>
			<div th:replace="fragments :: paging"></div>
		  </section>
		</div>
	  </div>
</body>
</html>