<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments :: flg_head"></th:block>
<style type="text/css">
tr,td,th{
		border: 1px solid black;
	}
</style>
</head>
<body>
<div class="content">
<h1>admin</h1>
<div>
	<ul>
		<li><a href="/admin/member/member-list">회원관리</a></li>
		<li><a href="/admin/board/board-list">전체게시글관리</a></li>
		<li><a href="/admin/comment/comment-list">전체댓글관리</a></li>
	</ul>
</div>
<table>
	<thead>
		<tr>
			<th style="width: 40%">댓글 내용</th>
			<th style="width: 10%">닉네임</th>
			<th style="width: 40%">게시판 제목</th>
			<th style="width: 10%">view</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="comment : ${comments}" th:object="${comment}">
			<td th:text="*{replyContent}"></td>
			<td>익명</td>
			<td th:text="*{board.boardTitle}"></td>
			<td><a th:href="@{/admin/comment/comment-detail/{id}(id = *{board.boardNum})}">view</a></td>
		</tr>		
	</tbody>
</table>
<div th:replace="fragments :: paging"></div>
</div>
</body>
</html>