
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments :: flg_head"></th:block>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/saved posts.css" />
    <title>saved posts</title>
  </head>

  <body>
    <div class="inner">
      <th:block th:replace="fragments :: flg_header"></th:block>
      <!--end of header-->
        <div class="mbtiarea">
          <div class="mbti">
          <span>저장한 게시글</span>
          </div>
        </div>	
          
          <div class="div_table" id="contents">
          <div class="div_table_row" id="placeimg" th:each="boardBookmark : ${boardBookmarks}">
               <div class="info">
                 <div class="div_table_cell" style="width:150px; height:50px;">
                   <span>작성자 : </span>
                   <span th:text="${boardBookmark.board.member.memNickname}"></span>
                 </div>
                 <div class="div_table_cell" style="width:70px; height:50px;">
                  <span th:text="${boardBookmark.board.member.memMbti}"></span>
                </div>
                <div class="div_table_cell" style="width:110px; height:50px; text-align:right;">
                  <span>조회수 : </span>
                  <span th:text="${boardBookmark.board.placeCnt}"></span>
                </div>
               </div>
              <hr>
              <div class="titlearea">
                <div class="div_table_cell">
                   <a th:href="@{'/post/' + ${boardBookmark.board.boardNum}}">
                   <span class="title" th:text="${boardBookmark.board.boardTitle}"></span>
                   </a>
                 </div>
               </div>
           </div>	
        </div>
         <div class="pagearea">
           
          <div th:replace="fragments :: paging"></div>
        </div>
    </div>
    </body>
</html>