<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"">
  <head>
    <meta charset="UTF-8" />
    <title>MyPage</title>
  </head>
  <body>
    <h1>This is MyPage.</h1>
    <hr />
    <div>개인정보 수정</div>
            <form role="form" th:action="@{/editMember}" method="post">
                <div>
                    <label th:for="name">닉네임</label>
                    <input type="text" th:field="*{name}"
                        placeholder="닉네임을 입력하세요"
                        th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                    <p th:if="${#fields.hasErrors('name')}"
                        th:errors="*{name}">Incorrect input</p>
                </div>
                <div>
                    <label th:for="email">이메일</label>
                    <input type="email" th:field="*{email}" class="form-control"
                           	placeholder="None" th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
                    <p th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}">Incorrect input</p>
                </div>
                <button type="submit">수정</button>
            </form>
            <br/>
        </div>
   
  </body>
</html>
