<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
		  src="https://kit.fontawesome.com/5168478d86.js"
		  crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/css/board-list.css">
			<link rel="stylesheet" href="/css/admin-list.css" />
		 <link rel="stylesheet" href="/css/fragment.css">
		<title>comment list</title>
	  </head>
	  
		<th:block th:replace="fragments :: flg_header"></th:block>
<body>
<div th:include="member/mypagesidebar"> </div>
	<div class="inner">
		
  
		  <!--------------------end of aside------------------->
  
		  <section class="contents">
			<div class="policy-container">
			  <div class="policy-table">
				<div class="headings">
				  <span class="heading">댓글 내용</span>
				  <span class="heading">닉네임</span>
				  <span class="heading">게시판제목</span>
				  <span class="heading">view</span>
				</div>
  
				<th:block th:each="comment : ${comments}" th:object="${comment}">
				  <div class="policy">
					<span th:text="${commnet.commentContent}"></span>
					<span th:text="${comment.member.memNickname}"></span>
					<span th:text="${board.boardTitle}"></span>
					<span><a th:href="@{/admin/comment/comment-detail/{id}(id = *{board.boardNum})}">view</a>
					</span>
				  </div>
				</th:block>
			  </div>
			</div>
			<div th:replace="fragments :: paging"></div>
		  </section>
		</div>
	  </div>
</body>
</html>