<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/sidebar.css">
        
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Responsive Navigation Menu Bar</title>-->
   

</head>
<body>
<div th:fragment="mySideBar">

    <nav>
       
            <div class="menu">
                    <span class="logo"><a href="#">CodingLab</a></span>
                </div>

                <ul class="nav-links">
                <li><a href="/">MOMO</a></li>
                    <li>  <a th:href="@{/member/mypage}">내 정보 수정</a></li>
                    <li>  <a th:href="@{/member/board-list}">내 게시물</a></li>
                    <li> <a th:href="@{/board/myComment}">내 댓글</a></li>
                    <li> <a th:href="@{/member/pwdEdit}">패스워드 변경</a></li>
                   
                </ul>
                
                    </nav>
            </div>

       
                
</body>
</html>