<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet" href="/css/login.css"/>
</head>
<div th:include="member/mypagesidebar"> </div>



<body class="login_body">
	<div class="login_main">
		<h1>내정보 수정</h1>
	   <form  th:action="@{/member/myinfoEdit}" method="post" th:object="${member}">
 
  


        <input type="hidden" th:field="*{memId}" th:readonly="readonly" >
        <input type="hidden" th:field="*{memRole}" th:readonly="readonly" >


      <div class="inp_field">
            <label th:for="memEmail">이메일</label>
            <input type="email" th:field="*{memEmail}" th:readonly="readonly" >
        </div>

              <div class="inp_field">
                 <label th:for="memNickname">닉네임</label>
            <input type="text"  th:field="*{memNickname}" oninput="memNicknameEdit()" autocomplete="off">
            </div>
           <span class="nickname_ok"  style = "display:none;" >사용 가능한 닉네임 입니다.</span>
            <span class="nickname_already"  style = "display:none;" >이미 사용중인 닉네임 입니다.</span> 
			<div class="inp_field" >
            <label style="top:-5px;" for="memBirth">생년월일</label>
             <input id="birthdate" type="date" name="memBirth" th:value="*{memBirth}">
             </div>
	
		 <div class="inp_field" >
            <label style="top:-8px;" for="memBirth">MBTI</label>
       <div id="memMbti" onchange="checkMbti()">
     	<select name="memMbti">
        <option th:text="*{memMbti}"></option>
        <option value="ISTJ">ISTJ</option>
        <option value="ISTP">ISTP</option>
        <option value="ISFJ">ISFJ</option>
        <option value="ISFP">ISFP</option>
        <option value="INTJ">INTJ</option>
        <option value="INTP">INTP</option>
        <option value="INFJ">INFJ</option>
        <option value="INFP">INFP</option>
        <option value="ESTJ">ESTJ</option>
        <option value="ESTP">ESTP</option>
        <option value="ESFJ">ESFJ</option>
        <option value="ESFP">ESFP</option>
        <option value="ENTJ">ENTJ</option>
        <option value="ENTP">ENTP</option>
        <option value="ENFJ">ENFJ</option>
        <option value="ENFP">ENFP</option>
      </select>
      <span id="Mbti_check_msg"></span>
      </div>
      </div>
        
     
        <div >
           	<button class="lg_submit" onclick="return confirm('수정 하시겠습니까?');" th:formaction="@{/member/myinfoEdit}">수정</button>
        </div>
         <div >
          	<button class="lg_submit" onclick="return confirm('정말 탈퇴하시겠습니까?');" th:formaction="@{/memeber/withdrawal}" >회원 탈퇴</button>
        </div>

        <div >
          	<button class="lg_submit" onclick="window.history.back();">취소</button>
        </div>

    </form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/Edit.js}"></script>

</body>
</html>
  
    
