<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>


    <form th:action="@{/myInfoEdit}" method="post" th:object="${member}">

        <h1 >내 정보 수정</h1>
        <hr>
        <input   th:field="*{memId}" th:readonly="readonly" >
        <input   th:field="*{memRole}" th:readonly="readonly" >

        <div >
            <label th:for="memEmail">이메일</label>
            <input type="email" th:field="*{memEmail}" th:readonly="readonly" >
        </div>

        <div >
            <label th:for="memNickname">닉네임</label>
            <input type="text"  th:field="*{memNickname}" oninput="memNicknameEdit()">
            <span class="nickname_ok">사용 가능한 닉네임 입니다.</span>
            <span class="nickname_already">이미 사용중인 닉네임 입니다.</span>
        </div>

        
     
        <div >
            <button  type="submit" onclick="return EditCheckAll()">수정</button>
        </div>

        <div >
            <a type="button" onclick="window.history.back();">취소</a>
        </div>

    </form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/Edit.js}"></script>

</body>
</html>
  
    
