@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

clearfix::before,
clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
}

input:focus {
    outline: none;
}


#wrap {
    width: 100%;
    margin: 0px auto;
}

.inner {
    width: 1440px;
    margin: 0 auto;
}

/* ----------------------------------------------- */

header {
    height: 90px;
    /* background-color: rgb(212, 212, 212); */
}

.logo {
    float: left;
    color: orangered;
    font-size: 40pt;
    margin: 10px 0px 0px 0px;

}

.mybox {
    float: left;
    color: gray;
    font-size: 18pt;
    margin: 40px 0px 0px 25px;

}

.user {
    float: right;
    padding-top: 30px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ------------------end of header----------------- */

section {
    width: 100%;
    height: 800px;
    border-radius: 20px;
    background-color: rgb(228, 228, 228);
    /* background-color: rgb(194, 227, 174); */
}

.sec_left {
    float: left;
    width: calc(100%/2);
    height: 100%;
    /* background-color: rgb(194, 227, 174); */
}

/* 제목 입력 div */
.fortitle {
    text-align: center;
    padding-top: 35px;
}

/* 제목 입력 */
#title {
    width: 640px;
    height: 70px;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 20px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    color: rgb(68, 68, 68);
    margin-bottom: 20px;
}

/* 장소찾기 */
.locationbtn {
    display: block;
    width: 500px;
    height: 50px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(134, 190, 126);
    color: rgb(68, 68, 68);
    font-size: 15pt;
    font-weight: bold;
    margin: 0 auto 20px auto;
    text-align: center;
    cursor: pointer;
    
}

/* 이미지 첨부 미리보기 div */
#image_preview{
    position: relative;
    width:100%;
    height:160px;
}

/* 카메라이미지 */
.cameraImg{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:130px;
    height:130px;
    margin-left: 40px;
    border:3px solid rgb(143, 143, 143);
    border-radius: 20px;
    cursor: pointer;
}

/* 첨부한 사진이 뜨는 곳 */
#att_zone {
    float:right;
    width: 500px;
    min-height: 150px;
    padding: 10px;
    /* border: 1px dotted #00f; */
    margin-right: 25px;
    margin-top:-35px;
}

/* 첨부한 사진 없이 비어있을때 */
#att_zone:empty:before {
    content: attr(data-placeholder);
    color: #999;
    font-size: .9em;
}

/* 커멘트 div */
#commentbox{
    width:100%;
    height:350px;
}

/* 커멘트 */
.comment{
    width:630px;
    height:300px;
    margin:0 40px 0 40px;
    padding-left:10px;
    padding-top:10px;
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 10px;
    background-color: rgb(203, 203, 203);
    font-size: 20px;
    color: rgb(68, 68, 68);
    resize: none;
    font-family: "Noto Sans KR", sans-serif;
}

/* 스크롤바 막대 설정*/
.comment::-webkit-scrollbar{
    width: 10px;
    cursor: pointer;
}

.comment::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 20px;    
}

/* 스크롤바 뒷 배경 설정*/
.comment::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}

/* 추가버튼 div */
#addbtnbox{
    width:690px;
    height:70px;
    padding-right:20px;
}

/* 추가버튼*/
.addbtn{
    float:right;
    width:100px;
    height:50px;
    background-color: orange;
    border:3px solid rgb(255, 161, 28);
    border-radius: 20px;
    font-size:18px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor:pointer;
}


/* ------------end of sec_left------------ */

.sec_right {
    float: left;
    width: calc(100%/2);
    height: 100%;
    background-color: rgb(237, 237, 177);
}
/* 
#places{
} */

#myplace1{
    margin:0 auto;
    width: 640px;
    height: 150px;
    text-align: center;
    border: 3px solid rgb(187, 187, 187);
    border-radius: 20px;
}












/* ------------end of sec_right------------ */

.sec_bottom{
    margin-top: 30px;
    height:60px;
}

.cancelbtn{
    float:left;
    width:140px;
    height:50px;
    left:0;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 20px;
    font-size:18px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor:pointer;
}

.savebtn{
    float:right;
    width:140px;
    height:50px;
    background-color: rgb(203, 203, 203);
    border: 3px solid rgb(187, 187, 187) ;
    border-radius: 20px;
    font-size:18px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    cursor:pointer;
}

/* ------------------end of section----------------- */

footer {
    width: 100%;
    height: 300px;
    color: rgb(239, 239, 239);
    background-color: rgb(74, 74, 74);
    margin-top: 100px;
}

.foot1 {
    float: left;
    width: 40%;
    height: 100%;
    font-size: 14pt;
}

.foot1 h3 {
    color: orangered;
    font-size: 25pt;
    margin: 40px 0px 10px 50px;
}

.foot1 p {
    margin-left: 50px;
}

.foot2 {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 14pt;
}

.foot2 h3 {
    font-size: 25pt;
    margin: 40px 0px 10px 0px;
}

.foot2 p {
    margin-left: 0px;
}

/* ------------------end of footer----------------- */