@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

clearfix::before,
clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
}

#wrap {
    width: 100%;
    margin: 0px auto;
}

.inner {
    width: 1440px;
    margin: 0 auto;
}

/* ----------------------------------------------- */

header {
    height: 90px;
    /* background-color: rgb(212, 212, 212); */
}

.logo {
    float: left;
    color: orangered;
    font-size: 40pt;
    margin: 10px 0px 0px 0px;

}

.mybox {
    float: left;
    color: gray;
    font-size: 18pt;
    margin: 40px 0px 0px 25px;

}

.user {
    float: right;
    padding-top: 30px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ------------------end of header----------------- */
.all {
    padding-top: 50px;
    margin-bottom: 150px;
    height: 750px;
}

aside {
    float: left;
    width: 180px;
    height: 740px;
    border-right: 2px solid rgb(133, 133, 133);
    text-align: center;
}

aside .button_1 {
    width: 150px;
    background-color: rgb(203, 203, 203);
    border: 2px solid rgb(185, 185, 185);
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    color: rgb(75, 75, 75);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

aside .button_2 {
    width: 150px;
    background-color: rgb(234, 234, 234);
    border: 2px solid rgb(185, 185, 185);
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
    color: rgb(75, 75, 75);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* <!--------------------end of aside-------------------> */
.contents {
    float: right;
    width: 1250px;
    height: 750px;
    /* text-align: center; */
}

.content1 {
    margin-bottom: 22px;
}

.content2 {
    margin-bottom: 22px;
}


.contents img {
    cursor: pointer;
    width: 390px;
    height: 230px;
    background-color: orangered;
    border-radius: 20px;
    margin-left: 22px;
}

/* ------------------end of section----------------- */

footer {
    width: 100%;
    height: 300px;
    color: rgb(239, 239, 239);
    background-color: rgb(74, 74, 74);
}

.foot1 {
    float: left;
    width: 40%;
    height: 100%;
    font-size: 14pt;
}

.foot1 h3{
    color:orangered;
    font-size: 25pt;
    margin:40px 0px 10px 50px;
}

.foot1 p{
    margin-left: 50px;
}


.foot2 {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 14pt;
}


.foot2 h3{
    font-size: 25pt;
    margin:40px 0px 10px 0px;
    
}

.foot2 p{
    margin-left: 0px;
}


/* ------------------end of footer----------------- */